$border-style: 1px solid #dce5eb;

.dev-toolbar-wrapper {
	position: fixed;
	bottom: 0;
	background: white;
	display: flex;
	flex-wrap: wrap;
	border-top: $border-style;
	z-index: 1060;

	//Modes
	&.full {
		.toolbar-module.full-width {
		    width: 100vw;
		}
	}
	&.full, &.compact {
		width: 100vw;
		left: 0;
		right: 0;
	}
	&.mini {
		left: 0;
		border-right: $border-style;
	}
	&.compact, &.mini {
		p {
			margin-bottom: 0;
		}
	}

	.toolbar-module {
	    display: flex;
	    padding: 10px;

		:first-child {
		    padding-right: 5px;
		}
	}
	
}